{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}
    <p>Zarządzaj swoimi finansami</p>

    <div class="col-xs-12">
    <a href="{{ path('expense_add') }}" class="btn btn-warning">Dodaj wydatek</a>
    <a href="{{ path('income_add') }}" class="btn btn-success">Dodaj dochód</a>
    </div>
{% endblock %}
