{% extends 'base.html.twig' %}

{% block title %}Category add{% endblock %}

{% block body %}
    <p class="lead">Dodaj kategorię</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
