{% extends 'base.html.twig' %}

{% block title %}Income add{% endblock %}

{% block body %}
    <p class="lead">Dodaj dochód</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Dodaj</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {% block javascript_bottom %}
        {{  parent() }}
        <script>
            $('.datetimepicker').datetimepicker({
                locale: 'pl'
            });
        </script>
    {% endblock javascript_bottom %}

{% endblock %}
