{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome money-saving</h1>
        <p class="lead">This application allow you to control your finances</p>
        <hr class="my-4">
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg" role="button">
            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
        </a>
    </div>
{% endblock %}
