{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <nav class="col-12 navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{  path('start_page')  }}">Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownExpense" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Wydatek
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownExpense">
                        <a class="dropdown-item" href="{{ path('expense_add') }}">Dodaj</a>
                        <a class="dropdown-item" href="{{ path('expense_list') }}">Lista</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownIncome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dochód
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownIncome">
                        <a class="dropdown-item" href="{{ path('income_add') }}">Dodaj</a>
                        <a class="dropdown-item" href="{{ path('income_list') }}">Lista</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownCategory" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategoria
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                        <a class="dropdown-item" href="{{ path('category_add') }}">Dodaj</a>
                        <a class="dropdown-item" href="{{ path('category_list') }}">Lista</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownPaymentMethod" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Konto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownPaymentMethod">
                        <a class="dropdown-item" href="{{ path('payment_method_add') }}">Dodaj</a>
                        <a class="dropdown-item" href="{{ path('payment_method_list') }}">Lista</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownBank" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bank
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownBank">
                        <a class="dropdown-item" href="{{ path('bank_add') }}">Dodaj</a>
                        <a class="dropdown-item" href="{{ path('bank_list') }}">Lista</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
{% endif %}