<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        {% block title %}MoneyManagerPro{% endblock %}
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    {% block stylesheets %}
        <link href="{{ asset('build/app/css/template.css') }}" rel="stylesheet" />
        <link href="{{ asset('build/vendor/vendor.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block javascript_head %}
        <script src="{{ asset('build/vendor/vendor.js') }}"></script>
    {% endblock javascript_head %}
</head>

<body>
<div class="container-fluid">
    <div class="row">

        {% include '_menu.html.twig' %}

        <aside class="col-12 col-sm-3">

        </aside>
        <main class="col-12 col-sm-9">
            <div class="container">
                <div class="row">
                {% if app.request.hasPreviousSession %}
                    <div class="alerts col-12">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} alert-dismissible fade show">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endif %}

                {% block body %}{% endblock %}
                </div>
            </div>
        </main>
    </div>
</div>

{% block javascript_bottom %}
    <script src="{{ asset('build/app/js/template.js') }}"></script>
{% endblock javascript_bottom %}
</body>

</html>
